<a href="https://colab.research.google.com/github/bindukocharla/bindu-kocharla/blob/main/Copy_of_Salary_Data_SLR_preprocessor_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv('Salary_Data_SLR.csv')

In [ ]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
#seperation of indepedndent variables
#indepenent variable X
X=data.iloc[:,0].values
X=X.reshape(-1,1)

In [ ]:
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [ ]:
#dependeny variable Y
Y=data.iloc[:,1].values

In [ ]:
Y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train

array([[ 4.1],
       [10.5],
       [ 5.1],
       [ 8.7],
       [ 9. ],
       [ 5.9],
       [ 7.1],
       [ 9.6],
       [ 4. ],
       [ 3.7],
       [ 2. ],
       [ 1.3],
       [ 9.5],
       [ 2.2],
       [10.3],
       [ 4. ],
       [ 1.5],
       [ 3.2],
       [ 5.3],
       [ 7.9],
       [ 8.2],
       [ 4.9],
       [ 3.9],
       [ 1.1]])

In [ ]:
X_test

array([[2.9],
       [6. ],
       [3. ],
       [3.2],
       [6.8],
       [4.5]])

In [ ]:
Y_train

array([ 57081., 121872.,  66029., 109431., 105582.,  81363.,  98273.,
       112635.,  55794.,  57189.,  43525.,  46205., 116969.,  39891.,
       122391.,  56957.,  37731.,  54445.,  83088., 101302., 113812.,
        67938.,  63218.,  39343.])

In [ ]:
Y_test

array([56642., 93940., 60150., 64445., 91738., 61111.])

In [ ]:
#Y=f(X)=aX+b

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# a value
regressor.coef_

array([9586.82704253])

In [ ]:
#b value
regressor.intercept_

24042.333472666032

In [ ]:
# pass the test data
regressor.predict([[6]])

array([81563.29572782])

In [ ]:
regressor.predict(X_test)

array([51844.13189599, 81563.29572782, 52802.81460025, 54720.18000875,
       89232.75736185, 67183.05516403])